:root {
    --color-primary-brand: #4d5ae5;
    --color-pressed-state: #404bbf;
    --color-darck: #2e2f42;
    --color-success: #31d0aa;
    --color-text:  #434455;
    --color-subtle-text: #8e8f99;
    --color-accent: #e7e9fc;
    --color-light: #f4f4fd;
    --color-modal-overlay: rgba(46, 47, 66, 0.4);
    --color-hero-background: rgba(46, 47, 66, 0.7);
    --color-white-background: #fff;
    --color-modal-background: #fcfcfc;
}


.address {
    font-style: normal;
}

ul {
    list-style-type: none; /*убирає маркування списку*/
}

body {
    color: var(--color-text);
    background-color: var(--color-white-background);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
}

p {
letter-spacing: 0.02em;
}

.sales-text {
    font-size: 16px;
}

.title-sections {
    color: var(--color-darck);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    /* text-align: center; */
    text-transform: capitalize;
}
.title {
    color: var(--color-darck);
font-weight: 500;
font-size: 20px; 
line-height: 1.2;
letter-spacing: 0.02em;
}

/* haeder */
.header .link-logo,
.footer .link-logo {
    color: var(--color-primary-brand);
    text-transform: uppercase;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
}

.title-logo-header {
    color: var(--color-darck);
}

.link {
    color: var(--color-darck);
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    letter-spacing: 0.02em;

}

.link:hover,
.link:focus {
    color: var(--color-pressed-state);
}

.address-link {
    color: var(--color-text);
    text-decoration: none;
    letter-spacing: 0.02em;
}

.address-link:hover,
.address-link:focus {
    color: var(--color-pressed-state);
}

/* головна секція */
.hero-section {
    background-color: var(--color-darck);
  }

.hero-title {
    color: var(--color-white-background);
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    /* text-align: center; */
}
.hero-button {
    color: var(--color-white-background);
    background-color: var(--color-primary-brand);
    font-weight: 500;
    line-height: 150%;
    letter-spacing: 0.04em;
    cursor: pointer;
}

.hero-button:hover,
.hero-button:focus {
background-color: var(--color-pressed-state);
}

/* section feature */



/* our team */
.section-team {
    background-color: var(--color-light);
}
.card-team {
    background: var(--color-white-background);

}
/* footer */
.footer {
    background-color: var(--color-darck);
 }

.link-logo-footer {
    text-transform: uppercase;
    font-family: "Raleway", sans-serif;
    color: var(--color-light);
}
.title-logo-footer {
color: var(--color-primary-brand);
}


.sales-text-footer {
    color: var(--color-light);
}

.title-logo-footer {
    color: var(--color-light);
}
